
.bodies{
    display: none;
    background-color:gold;
    color: black;
    padding: 3px;
    font-size: 20px;
}
/* .msgNew{
    color:gold;
    background-color: black;
    display: none;
    padding: 3px;
    background-color: gold;
} */