
.bodies{
    display: none;
    background-color:gold;
    color: black;
    padding: 3px;
    font-size: 20px;
}
/* .msgNew{
    color:gold;
    background-color: black;
    display: none;
    font-size: 25px;
    padding: 3px;
    background-color: gold;
}
.bodyMsg{
    color:gold;
    background-color: black;
    font-size: 25px;
    padding: 3px;

}
.messages{
    color: blue;
} */